   /* Barra de navegacion*/
   .navbar {
    padding: 1rem;
    background-color: #f5f6f7;
   }
   .navbar-collapse {
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
   }
   .border {
    border-radius:50%;
    width: 50px;
    height: 50px ;
   }
   .texto-principal{
    padding-right: 730px;
    font-size: 30px;
   }
  


      /* media query responsive */
   @media (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
   }
   @media (max-width: 767px) {
    .texto-principal {
    padding-left: 80px;
    }
   }

   @media (max-width: 767px) {
      .carousel{
      height: auto;
      display: block;
      margin: auto;
      }
   }
   
     .carousel{
      width:483px;
      height: auto;
      display: block;
      margin: auto;
      border-radius: 40%;
   } 
   .d-block{
      border-radius: 2%;
   }

   /* FRANCISCO */
   

   .container-fluid {
      background-color: ivory;
      display:flex;
  }
  
  .container-fluid > div {
      width: 50%;
      padding: 10px;
  }
  
  p {
      text-align: justify;
  }
  
  .image-Carv {
      margin-top: 4.5rem;
      margin-left: 2.5rem;
  }
  
  .img_c {
      border-radius: 50%;
  }
  
  .titulo {
      margin-bottom: 20px;
  }
  
  .text-1 {
      background-color: ivory; 
      padding-left: 1.5rem;
      padding-bottom: 6rem;
  
  }
  
  @media (max-width: 480px) {
      .container-fluid {
          
          flex-direction: column;
      }
   
      .text-1 {
          padding: 1.5rem;
      }
  
      .image-Carv{
          
          position: relative;
          left: -110px;
          top: -5px;
      }
      .img_c {
          margin-bottom: 3rem;
        
          
      }
    }
  
  @media (max-width: 768px) {
      .container-fluid {
          display:block;
      }
   
      .container-fluid > div {
          width: 100%;
      }
  
      .text-1 {
          padding: 1.5rem;
      }
  
      .img_c {
          margin-bottom: 3rem;
          margin-left: 4rem;
      }
  }
  
  @media (max-width: 400px) {
      .img_c {
          width: 250px;
          height: 190px;
      }
  }
  
  h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: ivory;
}
.experiencia {
    padding: 40px 40px 60px 40px;
    background-color:ivory;
}

.experiencia .columna {
    padding: 40px;
    border: 2px solid #8080804d; /* lo encierra en un cuadro a desarrollo web, articulos y estudiantes. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in; /* esta parte ayuda para que cambie de color el cuadro en segundos */
}

.experiencia .columna:hover {         /* Esta parte sive para que cuando el curso pase por el cuadro */ 
    color: white;                      /*donde esta desarrollo web, articulos y estudiante cambien de color*/
    background-color: grey;          /* en segundos */
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0; /* 10 en la parte superior e inferior y 0 de izquierda a derecha*/
}

.experiencia .container {
    margin: 10px;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 2px;
}

.experiencia i {
    font-size: 2.5rem;
    color: whitesmoke;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

@media (min-width: 480px) {
    .experiencia {
        flex-direction: row;
        justify-content: space-between;
        font-size:small;
    }      
}

@media (min-width: 768px) {
    .experiencia  {
        flex-direction: row;
        justify-content: space-between;
        font-size: smaller;
    }
}

@media (min-width: 1140px) {
    .experiencia  {
        flex-direction: row;
        justify-content: space-between;
        font-size: medium;
    }
}
  